extends layouts/main

block content
  .autogrid
    .col.chart
      .inner#line
    .col.chart
      .inner
    .col.chart
      .inner
  .grid
    .col-1-3.chart
      .inner
    .col-2-3.chart
      .inner
  div(id="example")
