div.row.header
  div.section
    nav
      a.logo
        i.ion-medkit(style='font-size:3em') 
      ul
        li
          a(href="#") #[i.ion-pie-graph] Dashboard
        li
          a(href="#") #[i.ion-person-stalker] Patients
        li
          a(href="#") #[i.ion-laptop] Machines
      ul(style="float:right")
        li
          a #[i.ion-log-out] Logout
            
